<div class="header-sub">
  <div class="container">

    <div class="row">

      <div class="col-md-12 text-center">
        <h1>Movie</h1>
      </div> <!-- col ends -->

    </div> <!-- row ends -->

  </div> <!-- container ends -->
</div> <!-- header ends -->

<div class="content-all">
  <div class="container">

    <div class="row">

      <!-- onSubmit will trigger the button of type submit -->
      <!-- template variable - #movieForm initailizied with value ngForm -->
      <form (ngSubmit)="onSubmit()" #movieForm="ngForm">

        <!-------------------------- TITLE STARTS ----------------------->
        <div class="col-md-6">
          <div class="form-group">

            <!-- [ngModel] 2-way-data-binding - binding our form to the movie entity model - flowing values from input box to the movie entity and back again (name attribute required) -->
            <!-- template variable #title - uses the title variable to get input elements value - gave it the value ngModel -->
            <!-- ngModel - access properties and also checks for events at the same time -->

            <!-- LABEL AND TEXTBOX -->
            <label for="title">Title</label>
           <input type="text" class="form-control" id="title" placeholder="Title"
                  required
                  #title="ngModel"
                  [(ngModel)]="selectedMovie.title" name="title"
           >

           <!-- VALIDATION -->
            <!-- dirty - value has changed / touched - has been visited -->
            <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
              <!-- show error message if the title isnt filled out correct -->
              <div [hidden]="!title.errors.required">
                Title is required
              </div>
            </div>


          </div> <!-- form group ends -->
        </div> <!-- col ends -->
        <!-------------------------- TITLE ENDS ----------------------->

        <!-------------------------- YEARH STARTS----------------------->
        <div class="col-md-6">

          <div class="form-group">

            <!-- LABEL AND TEXTBOX -->
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" placeholder="Year" minlength="4" maxlength="4"
                   required
                   #year="ngModel"
                   [(ngModel)]="selectedMovie.year" name="year"
            >

            <!-- VALIDATION -->
            <!-- dirty - value has changed / touched - has been visited -->
            <div *ngIf="year.errors && (year.dirty || year.touched)" class="alert alert-danger">
              <!-- show error message if the year isnt filled out correct -->
              <div [hidden]="!year.errors.required">
                Year must contain 4 characters
              </div>
            </div>
          </div> <!-- form group ends -->

        </div> <!-- col ends -->
        <!-------------------------- YEARH ENDS ----------------------->

        <!-------------------------- DIRECTOR STARTS ----------------------->
        <div class="col-md-6">

          <div class="form-group">

            <!-- LABEL AND TEXTBOX -->
            <label for="director">Director</label>
            <input type="text" class="form-control" id="director" placeholder="Director"
                   required
                   #director="ngModel"
                   [(ngModel)]="selectedMovie.director" name="director"
            >

            <!-- VALIDATION -->
            <!-- dirty - value has changed / touched - has been visited -->
            <div *ngIf="director.errors && (director.dirty || director.touched)" class="alert alert-danger">
              <!-- show error message if the director isnt filled out correct -->
              <div [hidden]="!director.errors.required">
                Director is required
              </div>
            </div>

          </div> <!-- form group ends -->
        </div> <!-- col ends -->
        <!-------------------------- DIRECTOR ENDS ----------------------->

        <!-------------------------- GENRE STARTS ----------------------->
        <div class="col-md-6">

          <!-- LABEL AND SELECTLIST -->
          <div class="form-group">
            <label for="genre">Genre</label>
            <select class="form-control" id="genre" placeholder="Genre"
                    required
                    #genre="ngModel"
                    [(ngModel)]="selectedMovie.genre" name="genre"
            >
              <option value="Action">Action</option>
              <option value="Science Fiction">Science Fiction</option>
              <option value="Horror">Horror</option>
              <option value="Drama">Drama</option>
            </select>

            <!-- VALIDATION -->
            <!-- dirty - value has changed / touched - has been visited -->
            <div *ngIf="genre.errors && (genre.dirty || genre.touched)" class="alert alert-danger">
              <!-- show error message if the genre isnt filled out correct -->
              <div [hidden]="!genre.errors.required">
                U must pick a genre from the list
              </div>
            </div>

          </div> <!-- form group ends -->
        </div> <!-- col ends -->
        <!-------------------------- GENRE ENDS STARTS ----------------------->

        <!-------------------------- BUTTONS ----------------------->
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary" routerLink="/movies">Back</button>
          <button type="submit" class="btn btn-primary" [disabled]="!movieForm.form.valid">Save movie</button>
          <button type="button" class="btn btn-danger" (click)="deleteMovie()">Delete movie</button>
        </div> <!-- col ends -->
        <!-------------------------- BUTTONS ----------------------->

      </form> <!-- form ends -->

    </div> <!-- row ends -->
  </div> <!-- container ends -->
</div> <!-- content-all ends -->
