<div class="header-parent">
  <div class="container">

    <div class="row">

      <div class="col-md-10 col-md-offset-1 text-center">
        <h1>Velkommen til movielisten</h1><br>
        <p>
          Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien.
          Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt
          trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning
          af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder,
          men har også vundet indpas i elektronisk typografi uden væsentlige ændringer.
          Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark
        </p>
        <button type="button" class="btn btn-default" routerLink="/movies">See All Movies</button>
      </div> <!-- col ends -->

    </div> <!-- row ends -->

  </div> <!-- container ends -->
</div> <!-- header ends -->

<div class="content-all">
  <div class="container">

    <div class="row">

      <div class="col-md-4 text-center">
        <h3>Lorem ipsum</h3>
        <p>
          Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien.
          Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt
          trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning
          af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder,
        </p>
        <button type="button" class="btn btn-default" routerLink="/about">Read more</button>
      </div>

      <div class="col-md-4 text-center">
        <h3>Lorem ipsum</h3>
        <p>
          Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien.
          Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt
          trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning
          af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder,
        </p>
        <button type="button" class="btn btn-default" routerLink="/about">Read more</button>
      </div>

      <div class="col-md-4 text-center">
        <h3>Lorem ipsum</h3>
        <p>
          Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien.
          Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt
          trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning
          af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder,
        </p>
        <button type="button" class="btn btn-default" routerLink="/about">Read more</button>
      </div>

    </div> <!-- row ends -->

    <div class="row margin-top">
      <div class="col-md-4 text-center">
        <h3>Lorem ipsum</h3>
        <p>
          Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien.
          Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt
          trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning
          af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder,
        </p>
        <button type="button" class="btn btn-default" routerLink="/about">Read more</button>
      </div>

      <div class="col-md-4 text-center">
        <h3>Lorem ipsum</h3>
        <p>
          Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien.
          Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt
          trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning
          af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder,
        </p>
        <button type="button" class="btn btn-default" routerLink="/about">Read more</button>
      </div>

      <div class="col-md-4 text-center">
        <h3>Lorem ipsum</h3>
        <p>
          Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien.
          Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt
          trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning
          af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder,
        </p>
        <button type="button" class="btn btn-default" routerLink="/about">Read more</button>
      </div>
    </div> <!-- row ends -->

  </div> <!-- container ends -->
</div> <!-- content-all ends -->
